/* ----------- Galaxy S6 ----------- */
	/* Portrait and Landscape
	@media screen
	and (device-width: 360px)
	and (device-height: 640px)
	and (-webkit-device-pixel-ratio: 4) {
	*/
	body {
		font-family: Roboto, Calibri , Arial, Verdana, sans-serif;
		margin: 0 4%;
	}
	.section {
		width:100%;
		height:auto;
		border:0;
		margin:0;
		position:relative;
		padding-bottom:10px;
		padding-top:10px;
		border-bottom:0px #333333 solid;
	}
	h1 {
		color:#666666;
		font-size:22pt;
		line-height:26pt;
		font-weight:400;
		margin:0px;
	}
	h2 {
		color:#666666;
		font-size:17pt;
		line-height:0pt;
		font-weight:400;
	}

	p {
		color:#666666;
		font-size:12pt;
		line-height:20pt;
	}

	.tech-item-container p {
		font-size: 12pt;
				
	}

	li {
		color:#666666;
		font-size:12pt;
		​
	}
	.search-field {
		text-align:center;
		padding-bottom:5px;
		border-bottom:1px #999999 solid;
		margin-bottom:15px;
	}
	form {
		width:100%;
		margin:20px auto 10px auto;
	}

	.search-container {
		margin-top:1em;
		margin-left: 1%;
	}

	.search-input {
		padding:8px 71px 8px 11px;
		background:rgba(50, 50, 50, 0.2);
		border:0px solid #dbdbdb;
	}
	.button-search {
		position:relative;
		padding:6px 15px;
		border:2px solid #207cca;
		background-color:#207cca;
		color:#fafafa;
	}
	.button-subscribe {
		position:relative;
		padding:6px 7px;
		border:2px solid #207cca;
		background-color:#207cca;
		color:#fafafa;
	}
	.person-profile img {
		margin-right:10px;
	}
	.person-details {
		display:inline-block;
	}
	.tech-item {
		margin-bottom:20px;
		border-bottom:1px #999999 solid;
	}
	.tech-item-container {
		margin-left:10px;
	}
	.tech_item-title img{
		display:inline-block;
		width:30px;
		height:auto;
		margin-right:5px;
		vertical-align:bottom;
	}
	.tech_itemTitle h2{
		vertical-align:top;
	}
	.tech-tag {
		display:inline-block; 
		background-color:#207cca; 
		padding:3px; 
		color:white;
	}
	.tech-trend {
		background-color:#207cca;
		color:white;
		padding:2px;
		margin-top:5px;
		min-width:25%;
		max-width:95%;
		width:;
	}
	.contact-buttons-container {
		margin-right:auto;
		margin-left:auto;
		margin-top:42px;
	}
	.contact-buttons-container img {
		display:inline-block;
		margin:0px 10px;
		width:40px;
		height:auto;
	}
	@media (min-width: 779px) {

	body {
		padding-left:2%;
	}

	h1 {
		color:#666666;
		font-size:40pt;
		line-height:40pt;
		font-weight:400;
		margin:0px;
	}
	h2 {
		color:#666666;
		font-size:25pt;
		line-height:0pt;
		font-weight:400;
	}
	p {
		color:#666666;
		font-size:21pt;
		line-height:31pt;
	}
	.person-profile img {
		margin-right:10px;
		width:90px;
	}
	.tech-item-title img{
		display:inline-block;
		width:30px;
		height:auto;
		margin-right:5px;
		vertical-align:bottom;
		margin-bottom:10px;
	}
	.search-input {
	    padding:21px 71px 18px 11px;
	    width:70%;
	    background:rgba(50, 50, 50, 0.2);
	    border:0px solid #dbdbdb;
	    font-size:18pt;
	    float:left;
	}
	.button-search {
	    position:relative;
	    padding:15px 80px;
		font-size:21pt;      
	    background-color:#207cca;
	    color:#fafafa;
	}

	.button-search:hover {
	    background-color:#207cFF;
	    color:#fafafa;
	}

	.button-subscribe {
	    position:relative;
	    padding:15px 60px;
	    font-size:21pt;
	    background-color:#207cca;
	    color:#fafafa;
	}
	.tech-tag {
		display:inline-block; 
		background-color:#207cca; 
		padding:8px; 
		color:white;
		font-size:18pt;
	}
	.tech-trend {
		background-color:#207cca;
		color:white;
		padding:8px;
		font-size:18pt;
		margin-top:10px;
		min-width:25%;
		max-width:100%;
		width:;
	}
	.personal-details-pie-time-range-selector{
		position:relative;
		margin-top:5px;
		margin-right:5px;
	    padding:5px 28px;
		font-size:12pt;      
	    background-color:#207cca;
	    color:#fafafa;
	}

	.personal-details-pie-time-range-selector .selected{
		background-color:red;
	}
	.glyphicon-refresh-animate {
		-animation: spin .7s infinite linear;
		-webkit-animation: spin2 .7s infinite linear;
	}

	@-webkit-keyframes spin2 {
		from { -webkit-transform: rotate(0deg);}
		to { -webkit-transform: rotate(360deg);}
	}

	@keyframes spin {
		from { transform: scale(1) rotate(0deg);}
		to { transform: scale(1) rotate(360deg);}
	}
}