<div *ngIf="isDisplay()"> <!-- Single Person View Template -->
	<t8-personal-details [personalDetails]="person.personalDetails"></t8-personal-details>
	<t8-tech-info [techInfos]="person.techInfos" [personalDetails]="person.personalDetails"></t8-tech-info>
	<t8-subscribe [text]="subscribeText"></t8-subscribe>
</div>
