<div *ngIf="isDisplay()">
	<t8-technology-details [technology]="technology"></t8-technology-details>
	<t8-technology-user-contribution [topContributors]="technology.topContributors"></t8-technology-user-contribution>
	<t8-subscribe [text]="subscribeText"></t8-subscribe>
</div>
