<div class="section tech-item"> <!-- Tech Info Template -->
	<div *ngFor="#techInfo of techInfos; #idx = index" style='border-top: 1px solid gray; margin-top:.2em'>

		<div class="tech-item-title">
			<div style='display:inline-block'>
				<object data="resources/{{ techInfo.language }}_icon.jpg" type="image/jpg">
					<img src="resources/missing_tech_icon.jpg" />
				</object>
			</div>
			<div style='display:inline-block'>
				<h2>{{ techInfo.language }} Experience</h2>
			</div>
		</div>

		<t8-lead-tech *ngIf="techInfo.libraryScores.length > 0" [techInfo]="techInfo" [personalDetails]="personalDetails"></t8-lead-tech>

		<div class='tech-item-container'>
			<p>{{ techInfo.codelines }} code lines contributed to code base.</p>
		</div>
	</div>
</div>