<div class='section person-profile'>
	<div style='display:inline-block; '>
		<img src="/resources/profile_icon.jpg" />
	</div>
	<div style='display:inline-block;'>
		<h1>{{ personalDetails.email }}</h1>
	</div>

	<div class="tech-item-container">
	

		<div>
			<div>
				<button
					[ngClass]="{'personal-details-pie-time-range-selector': true, 'selected': true}"
					*ngFor="#timeRange of availableTimeRanges"
					(click)="refreshTimeRange(timeRange)">{{ timeRange }}
				</button>
				<br />
			</div>

			<div id='score-summary-pie-container'></div>
		</div>
	</div>
</div>