<div *ngIf="isDisplay()"> <!-- All Team View Template -->
	<!--<t8-allteam-details [technology]="technology"></t8-allteam-details>-->
	<div>
		<h3> Technologies we used this months: {{ allTeamStats[0].changesByTechnology.length }}</h3>
	<div style='display:inline-block;'>
	</div>
	<t8-allteam-piechart-stats [allTeamStats]="allTeamStats"></t8-allteam-piechart-stats>
</div>
