    <div class="section person-profile">
      <div>
        <div style='display:inline-block;'>
          <img src="resources/tech_icon.jpg"/>
        </div>
        <div class="person-details" style='display:inline-block'>
          <h1>{{ technology.name }}</h1>
        </div>

        <div class='tech-item-container'>
          <!-- <p>Introduced at {{technology.introducedAt | date:'dd/MM/yyyy'}}<br>By {{technology.introducedBy}}</p> -->
        </div>
      </div>
    </div>
    ​
