<div class="section person-contact">
	<p style="text-align:center;">{{text}}</p>
		<form>
    	<input type="text" class="search-input" placeholder="Enter your email..." required>
        <input type="button" class="button-subscribe" value="Subscribe">
	</form>
</div>
