<div class='tech-item-container'>
	<p>Tech trends in the last 2 weeks: <span *ngIf="isLoadingTrends">Loading...</span></p>

	<div *ngIf="isLoadingTrends == false">
		<div *ngFor="#trend of trends; #idx = index" style='display: inline-block; margin-right:.2em'>
			<div class="tech-tag" *ngIf='idx < 3'>
				{{ trend.name }}
			</div>
		</div>
	</div>
</div>

<div class='tech-item-container'>
	<div id='overall-tech-performance' style='width:90%'></div>
</div>
