<p>Top contributers:</p>

<div *ngFor="#contributor of topContributors">
  <div class="section tech-item">
    <div class="tech-item-title">
      <img src="resources/profile_icon.jpg"/>
      <h2 style="display:inline-block;">{{contributor.name}}</h2>
    </div>
    <div class="tech-item-container">
      <div *ngIf="contributor.usage > 0">
        <p>Used approximately
          <strong>{{contributor.usage}}</strong>
          times,
          <strong>{{contributor.percentage}}%</strong>
          of overall usage.</p>
      </div>
      <div *ngIf="contributor.codeLines > 0">
        <p>
          <strong>{{contributor.codeLines}}</strong>
          code lines contributed.</p>
      </div>
    </div>​
  </div>​
</div>
