<!-- App Template -->
<header>
	<t8-search></t8-search>
</header>

<main>
	<t8-single-person-view [person]='viewPerson'></t8-single-person-view>
	<t8-technology-view [technology]='technology'></t8-technology-view>
	<t8-allteam-view [allTeamStats]='viewAllTeam'></t8-allteam-view>
</main>
