<!-- Search Template -->
<!-- TODO: Should be probably be modified for a form -->
<div class='search-container'>
	<input class='search-input' list='search-options' [(ngModel)]="searchField" (keyup.enter)="searchAccepted()" autocomplete="on"  placeholder='Search'>
	<button class='button-search' (click)="searchAccepted()">Search</button>

	<datalist id='search-options'>
		<option *ngFor="#suggestion of searchSuggestions" value="{{ suggestion }}">
	</datalist>
</div>